<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="attcont" />
                <remove name="attreq" />
                <remove name="exat_contract" />
                <remove name="geoserver" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:9009/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
